@import '../../global';

.main {
    background: $darkest;
    width: 100%;
    height: 300vh;

    &__landing {
        height: 100vh;

        &__content {
            display: grid;
            grid-template-columns: 90% 10%;
            grid-template-rows: 1fr;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
        }

        &__person {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            padding: 0 4em;
            background: #0000005b;
        }

        &__hello {
            font-size: 2.5rem;
            color: $white;
            font-weight: lighter;
        }

        &__fullname {
            color: $primary;
            font-size: 3rem;
            font-weight: lighter;
        }

        &__video {
            filter: brightness(70%);
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            width: 100%;
            height: 100vh;
            z-index: 0;
        }
    }

    &__about {
        padding: 0 4em;
        height: 100vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background: $darker;

        &__profiles {
            display: flex;
            justify-content: space-evenly;

            svg {
                color: $dark;
                font-size: 3rem;
                cursor: pointer;
                transition: color .3s ease-in-out;

                &:hover {
                    color: $primary;
                }
            }
        }

        &__content {
            display: flex;
            flex-direction: column;
            height: 50%;
        }

        &__header {
            color: $primary;
            font-weight: 400;
        }

        &__description {
            flex: 1;
            color: $base;
            height: 50%;
        }

        &__selfie {
            margin: 0 2em 0 0;
            height: 50%;
            border-radius: .2em;
            filter: invert(1)
        }
    }
}