@import '../../global';

.navigation {
    background: $darkest;

    &__links {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        list-style-type: none;
        height: 100%;
    }

    &__link {
        display: flex;
        align-items: center;
        color: $dark;
        text-transform: uppercase;
        font-size: .9rem;
        transition: color .3s ease-in-out;
        cursor: pointer;

        &:hover {
            color: $primary;
        }

        &--selected {
            color: $primary;
        }

        svg {
            margin: 0 5px 0 0;
        }
    }
}